body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black
}
  

.task{
    width: 100%;
}
.task-heading{
    padding: 15px;
    background-color: azure;
    border-radius: 20px;
    margin: 10px 0;
}

  /* task 1 */
.task1{
    position: relative;
    display: flex;
    background-color: rgb(44,44,44);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    transition: 1s;
}


.circle{
    position: relative;
    overflow: hidden;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background:  rgb(44,44,44);
    border: 3px solid transparent;
    transition: 1s;
    
}


.line{
    position: absolute;
    z-index: 100;
    background-color: rgb(183,51,111);
    width: 100px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: 1s;
 
}

.l1{
 top: 36px 
}

.l2{
    top: 72px  
}

.l3
{
    top: 108px 
}


.task1:hover{
    background-color:rgb(183,51,111);
}
.task1:hover .circle{
    animation: border 1s ease forwards;
    background-color:rgb(183,51,111);
}

.task1:hover .line {
    top: 72px;
    background-color: white;
   
}

.task1:hover .l1{
    transform: rotate(45deg);
    
}

.task1:hover .l2{
    transform: translateX(100px);
    opacity: 0;
    
}

.task1:hover .l3{
    transform: rotate(-45deg);
  
}

@keyframes border{

    25% {
        border-left-color: white;
    }

    50% {
        border-top-color: white;
        border-left-color: white;
    }

    75%{
        border-top-color: white;
        border-right-color: white;
        border-left-color: white;
    }

    100% {
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
        
    }
  }

  /* task 5 */
.task5{
    background-color: white;
    margin: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    width: 100%;

}
.awesome-ball{
   
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform-origin: 50% -100px; 
  }

.task5:active .awesome-ball:first-child{
    animation: move-left-top 1s infinite alternate ease-out;
  }
  
.task5:active .awesome-ball:last-child{

    animation: move-right-top 1s infinite alternate 1s ease-out;
  }
  

@keyframes move-left-top {
    0%,50% {transform: rotate(0);} 100% {transform: rotate(45deg);}

}


@keyframes move-right-top {
    0%,50% {transform: rotate(0);} 100% {transform: rotate(-45deg);}
}


/* task6 */

.task6{
    
    background-color: white;
    margin: 40px 0;
    position: relative;
    display: flex;
    justify-content: left;
    height: 100px;
    align-items: center;
    width: 100%;

}

.name{
   width: 9%;
   height: 100px;
   background: url(./name.png);
}

.task6:hover .name{
    animation: draw 2s steps(11) infinite;
}

@keyframes draw {
   
    100%{
        background-position:  -1995px;
    }
  }


  /* Task 12 Rooster */
  .rooster {
    width: 550px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: rooster normal 30s infinite;
}

.rooster .bottom {
    width: 100%;
    height: 300px;

    position: relative;

    display: flex;
    justify-content: center;
}

.rooster .bottom .carcase-wrapper {
    width: 300px;
    height: 100%;
    
    position: relative;
}

.rooster .bottom .carcase-wrapper .carcase {
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    animation: carcase 1s  infinite alternate;
}

.rooster .bottom .carcase-wrapper .carcase > div {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    top: -150px;
    border-radius: 50%;
    background-color: #383851;
    
}

.rooster .bottom .carcase-wrapper .legs {
    width: 140px;
    height: 200px;
    position: relative;
    z-index: 2;
    bottom: -109px;
    left: 116px;
}

.rooster .bottom .carcase-wrapper .legs .leg {
    position: absolute;
    width: 70px;
    height: 100%;


}

.rooster .bottom .carcase-wrapper .legs .leg:nth-of-type(1) {
    transform-origin: 35px 20px;
    transform: rotate(350deg);

    animation: legAnim 2s 0s  infinite;
    animation-direction: alternate !important;

}


.rooster .bottom .carcase-wrapper .legs .leg:nth-of-type(2) {
    transform-origin: 35px 20px;
    transform: rotate(17deg);

    animation: legAnim 2s  infinite;
    animation-direction: alternate-reverse !important;
}


.rooster .bottom .carcase-wrapper .legs .leg .paw {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2c2c45;
    position: relative;
    z-index: 2;
}

.rooster .bottom .carcase-wrapper .legs .leg .paw:before {
    content: '';
    width: 43px;
    height: 44px;
    border-radius: 50%;
    background-color: #2c2c45;
    position: absolute;
    bottom: -9px;
    left: 8px;
}

.rooster .bottom .carcase-wrapper .legs .leg .paw:after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2c2c45;
    position: absolute;
    top: -8px;
    left: 3px;
}

.rooster .bottom .carcase-wrapper .legs .leg .shin {
    width: 20px;
    height: 100px;
    background-color: #ccb000;
    position: relative;
    left: 19px;
    top: -10px;
    z-index: 1;
}


.rooster .bottom .carcase-wrapper .legs .leg .foot {
    width: 70px;
    height: 20px;
    background-color: #ccb000;
    position: relative;
    top: -30px;
    transform-origin: 15px 11px;
    transform: rotate(20deg);
    animation: footAnim 1s  infinite;
    animation-direction: alternate;
}

.rooster .wing {
    height: 100px;
    width: 200px;
    position: absolute;
    background-color: #414159;
    transform-origin: 0px 100%;
    overflow: hidden;
    border-radius:  0 0 100px 100px;
    left: 105px;
    top: 40px;
    transform: rotate(-10deg);
    z-index: 100;
    animation: wing 1s infinite alternate;

    
}

.rooster .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
}

.rooster .header .right,
.rooster .header .left {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.rooster .header .right {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: head 1s infinite alternate;
}

.rooster .header .left .tail {
    width: 150px;
    height: 150px;
    position: relative;
    left: 70px;
    top: 10px;
    z-index: 5;
    animation: tail 1s infinite alternate;
}

.rooster .header .left .tail .sub-tail {
    width: 100px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
}

.rooster .header .left .tail .sub-tail:nth-of-type(1) {
    transform-origin: 0px 100%;
    transform: rotate(290deg);
}

.rooster .header .left .tail .sub-tail:nth-of-type(2) {
    transform-origin: 0px 100%;
    transform: rotate(245deg);
}

.rooster .header .left .tail .sub-tail:nth-of-type(3) {
    transform-origin: 0px 100%;
    transform: rotate(335deg);
}

.rooster .header .left .tail .sub-tail > div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: -75px;
    background-color: #2c2c45;
}

.rooster .header .right .crest {
    width: 100%;
    height: 36px;
    background-color: #c52541;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px;
    left: -4px;
    border-radius: 10px;
}

.rooster .header .right .crest > div {
    width: 20px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: #c52541;
    position: relative;
}

.rooster .header .right .crest > div:nth-of-type(1) {
    height: 46px;
    top: -11px;
    border-radius: 10px 10px 0px 10px;
}

.rooster .header .right .crest > div:nth-of-type(2) {
    height: 49px;
    top: -18px;
}

.rooster .header .right .crest > div:nth-of-type(3) {
    height: 59px;
    top: -25px;
}


.rooster .header .right .crest > div:nth-of-type(4) {
    height: 68px;
    top: -33px;
}


.rooster .header .right .crest > div:nth-of-type(5) {
    height: 83px;
    top: -47px;
    border-radius: 10px 10px 10px 0px;
}

.rooster .header .right .head {
    width: 100px;
    height: 182px;
    position: relative;
    top: 105px;
    left: -82px;
    z-index: 3;
    transform: rotate(318deg);
}

.rooster .header .right .center .back-end {
    width: 110px;
    height: 217px;
    background-color: #969292;
    border-radius: 0 45% 0 0;
    clip-path: polygon(10.86% 0.00%, 87.62% 0.00%, 100% 100%, 0% 100%);
    z-index: 1;
    position: relative;
    top: 26px;
}

.rooster .header .right .center .back-end .front-end {
    width: 102px;
    height: 145px;
    background-color: #b3b3b3;
   border-radius: 50% 0 0 0;
    z-index: 1;
    position: relative;
    bottom: -70px;
    left: 30px;
    transform: skew(-10deg) rotate(354deg);
}

.rooster .header .right .center {
    position: relative;
    left: -40px;
    top: 7px;
}

.rooster .header .right .center .hem {
    width: 100%;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.rooster .header .right .center .hem > div {
    width: 20px;
    background-color: #383851;
    height: 20px;
    position: relative;
    transform: rotate(58deg) skew(28deg);
    bottom: -5px;
}

.rooster .header .right .center .beak {
    position: absolute;
    top: 73px;
    right: 0;
    width: 50px;
    height: 94px;
    /* background: #c52541; */
    left: 56px;
    z-index: 5;

    transform: rotate(351deg);
}

.rooster .header .right .center .beak .upper {
    width: 50px;
    height: 51px;
    overflow: hidden;
}

.rooster .header .right .center .beak .upper > div {
    width: 100%;
    height: 100%;
    background: #c52541;
    border-radius: 50%;
    position: relative;
    right: -20px;
    border: 4px #940000 solid;
}

.rooster .header .right .center .beak .bottom {
    width: 50px;
    height: 51px;
    overflow: hidden;
}

.rooster .header .right .center .beak .bottom > div {
    width: 20px;
    height: 40px;
    background: #c52541;
    position: absolute;
    left: 30px;
    top: -4px;
    border-radius: 0px 0px 10px 10px;
    border: 4px #940000 solid;
}

.right-upper {
    position: relative;
    top: -102px;
    right: -50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* flex-direction: column; */
    overflow: hidden;
}

.right-upper > div:nth-of-type(1) {
    width: 32px;
    height: 20px;
    background: orange;
    clip-path: polygon(0.00% 0.00%, 0% 100%, 100.00% 100%);
    position: relative;
    z-index: 2;
}

.right-upper > div:nth-of-type(2) {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff7200;
    position: relative;
    z-index: 1;
    top: -7px;
    left: -10px;
    animation: tounge 3s infinite ;
}

.right-upper > div:nth-of-type(3) {

    width: 32px;
    height: 20px;
    background: orange;
    /* clip-path: polygon(0.00% 0.00%,0% 100%,100.00% 100%); */
    clip-path: polygon(0.00% 0.00%, 0% 100%, 100.00% 27.74%);
    position: relative;
    z-index: 2;
    top: -16px;

}

@keyframes legAnim {

    from {
        transform: rotate(-25deg);
    }

    to {
        transform: rotate(20deg);
    }
}

@keyframes footAnim {
    from {
        transform: rotate(20deg);
    }

    from {
        transform: rotate(30deg);
    }
}


@keyframes wing {
    from{
        top: 41px;
        transform: rotate(0 deg);
    }
    to{
        
        transform: rotate(-11deg);
    }
}


@keyframes tail{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(4deg);
    }

}

@keyframes head {
   from {
    top: 0px; 
    transform: rotate(0deg);
  
   }
    to{
    top: 2px;
    transform: rotate(2deg);
    
   } 
}

@keyframes carcase {
    from {
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(2deg);
     
       
    }

}

@keyframes tounge {
    0%{
        height: 20px;
        width: 20px;
        clip-path: inset(25% 0 20% 0);
    }
    25% {
        height: 20px;
        width: 40px;
        clip-path: inset(25% 0 20% 0);
    }
    50%{
        height: 20px;
        width: 20px;
        clip-path: inset(25% 0 20% 0);
    }
    75%{
        height: 5px;
    }

    100%{
        height: 20px;
    }
}


@keyframes rooster {
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 1200px;
    }
}
